<html>

<head>
    <title>Subjects Availability</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="subjects.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <h1 v-text="sitename"></h1>
            <button v-on:click='showCheckout'>
                {{cartItemCount}}
                <span class="fas fa-cart-plus"></span> Checkout
            </button>
        </header>
        <main>
            <div v-if='showProduct'>
                <div v-for="product in sortedProducts">
                    <h2 v-text="product.title"></h2>
                    <figure>
                        <img v-bind:src="product.image" width="200" height="150">
                    </figure>
                    <p v-html="product.description"></p>
                  <b><p>Subject:</b>{{product.subject}}</p>
                  <b><p>Location:</b>{{product.location}}</p>
                  <b><p>Price: </b>{{product.price}}</p>
                  <b><p>Spaces:</b>{{product.spaces}}</p>
                   

                    <!-- <button v-on:click="addToCart" 
                    v-show='canAddToCart'>
                    Add to cart
                    </button> -->

                    <button v-on:click='addToCart(product)' v-if='canAddToCart(product)'>Add to cart</button>

                    <button disabled="disabled" v-else>Add to cart</button>

                    

                    
                </div>
            </div>
            <div v-else>
                <h2>Checkout</h2>
                <p>
                    <strong>Name:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model.trim="order.Name" />
                </p>
                
                <p>
                    
                  
                        <!-- <option v-bind:value="states.AL">AL</option>
                        <option v-bind:value="states.AR">AR</option>
                        <option v-bind:value="states.CA">CA</option>
                        <option v-bind:value="states.NV">NV</option> -->
                    </select>
                </p>
                <p>
                    <strong>Phone:</strong>
                    <input v-model.number="order.Phone" type="number" />
                </p>

                
               

               
               
               
           <div v-if='showProducts'>
                    <div v-for="product in sortedProducts">
                        <h2 v-text="product.title"></h2>
                        <figure>
                            <img v-bind:src="product.image">
                        </figure>
                        <p v-html="product.subject"></p>
                        <p>Price: {{product.price}}</p>
                    </div>


                <button v-on:click="submitForm">Place Order</button>
            </div>
        </main>
    </div>

    <script type="text/javascript">
        var webstore = new Vue({
            el: '#app',
            data: {
                sitename: 'Subjects Availability',
                products: products,
                showProduct: true,
                // product: {
                //     id: 1001,
                //     title: "Cat Food, 25lb bag",
                //     description: "A 25 pound bag of <em>irresistible</em>, " + "organic goodness for your cat.",
                //     price: 2000,
                //     image: "images/product-fullsize.png",
                //     spaces: 10,
                //     rating: 3
                // },
                cart: [],
                
                order: {
                    Name: '',  
                    zip: '',
                   
            
                },
            },
            // created: function () {
            //     this.products = allProducts
            // },
            methods: {
                addToCart(product) {
                    this.cart.push(product.id);
                    // console.log('adding to cart', product.id)
                },
                showCheckout() {
                    // console.log(this.showProduct);
                    this.showProduct = this.showProduct ? false : true;
                },
                submitForm() {
                    alert('Order submitted!')
                },
                canAddToCart(product) {
                    return product.spaces > this.cartCount(product.id);
                },
                cartCount(id) {
                    let count = 0;
                    for (let i = 0; i < this.cart.length; i++) {
                        if (this.cart[i] === id) {
                            count++;
                        }
                    }
                    return count;
                }
            },
            
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                // canAddToCart(product) {
                //     return product.spaces > this.cartItemCount;
                // }
                sortedProducts() {
                    let productsArray = this.products.slice(0);
                    function compare(a, b) {
                        if (a.price > b.price)
                            return 1;
                        if (a.price < b.price)
                            return -1;
                        return 0;
                    }
                    return productsArray.sort(compare);
                }
            },
        });
    </script>
</body>

</html>